<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>project-2</title>
  </head>
  <body>
    <h1>main handlebars</h1>

    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/users/new">Register</a></li>
    <li><a href="/users/login">Login</a></li>

    {{{ body }}}

  </body>
</html>
