<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>project-2</title>
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <h1>Project 2</h1>

    {{#if user}}
    <li>
      <a href="/users/profile">Profile</a>
    </li>

    <li>
      <a href="/users/logout">Logout</a>
    </li>

    {{/if}}

    {{#unless user}}
    <li><a href="/">Home</a></li>
    {{/unless}}

    {{{ body }}}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/script.js" charset="utf-8"></script>

  </body>
</html>
