{{!-- form to create new journals --}}

{{!-- flash error if user did not input title --}}
{{ flash }}
<h2>Create New</h2>
<form class="pure-form pure-form-aligned"action="/journals" method="post">
  <fieldset>
    <div class="pure-control-group">
      <label>Title:</label>
      <input type="text" name="journal[name]" placeholder="Entry Name">
      <span class="pure-form-message-inline">This is a required field.</span>
    </div>

    <div class="pure-control-group">
      <label>Location:</label>
      <input type="text" name="journal[location]" placeholder="Location">
    </div>

    <div class="pure-control-group">
      <label>Text:</label>
      <textarea type="text" name="journal[text]" placeholder="Your text"></textarea>
    </div>

    <div class="pure-controls">
      <button class="pure-button pure-button-primary">Create</button>
    </div>
  </fieldset>
</form>

<div id='map2'></div>

{{!-- display the user's journals --}}
<div>
    <table class="pure-table">
      <thead>
        <tr>
          <h2>Select an existing entry</h2>
        </tr>
      </thead>
      {{#each journals as |journals|}}
      <tr>
        <td>
          <a href='/journals/{{journals.id}}'>{{ journals.name }}</a>
        </td>
      </tr>
      {{/each}}
    </table>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&language=en&callback=initMap" type="text/javascript">
</script>
