#map2{
  height: 400px;
  width: 700px
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

header {
  margin: 0 100px;
}

body {
  min-width: 500px;
  max-width: 700px;
}
