<h2>User Login</h2>

{{ flash }}

<form class="pure-form pure-form-aligned" action="/users/login" method="post">
  <fieldset>

    <div class="pure-control-group">
      <label>Email:</label>
        <input type="text" name="user[email]" placeholder="e.g. john.doe@gmail.com">
    </div>

    <div class="pure-control-group">
      <label>Password:</label>
        <input type="password" name="user[password]" placeholder="Enter your password">
    </div>

    <div class="pure-controls">
      <button class="pure-button pure-button-primary">Login</button>
    </div>

  </fieldset>

</form>
