<h2>New User Signup</h2>

{{ flash }}

<form action="/users" method="post">
  <div class="form-group">
    <label>
      Name:
      <input type="text" name="user[name]" placeholder="Your name here">
    </label>
  </div>

  <div class="form-group">
    <label>
      Email:
      <input type="text" name="user[email]" placeholder="e.g. john.doe@gmail.com">
    </label>
  </div>

  <div class="form-group">
    <label>
      Password:
      <input type="password" name="user[password]" placeholder="min. 8 char">
    </label>
  </div>

  <button>Submit</button>
</form>
