{{#if user}}

{{!-- {{#each user as |user|}} --}}
{{!-- not required as findOne only returns one user unlike find which returns an array of users thus requiring loop --}}
{{!-- {{/each}} --}}

<h2>Hello {{ user.name }}!</h2>

<h2>Welcome to your profile!</h2>

<a href="/journals">Journals Here!</a>

{{/if}}
