<h2>New User Signup</h2>

{{ flash }}

<form class="pure-form pure-form-aligned" action="/users/signup" method="post">
  <fieldset>
    <div class="pure-control-group">
      <label>Name:</label>
        <input type="text" name="user[name]" placeholder="Your name here">
        <span class="pure-form-message-inline">This is a required field.</span>
    </div>

    <div class="pure-control-group">
      <label>Email:</label>
        <input type="text" name="user[email]" placeholder="e.g. john.doe@gmail.com">
        <span class="pure-form-message-inline">This is a required field.</span>
    </div>

    <div class="pure-control-group">
      <label>Password:</label>

      <input type="password" name="user[password]" placeholder="min. 8 char">
      <span class="pure-form-message-inline">This is a required field.</span>
    </div>

    <div class="pure-controls">
      <button class="pure-button pure-button-primary">Submit</button>
    </div>
  </fieldset>
</form>
